*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    align-items: center;
    background-color: aliceblue;
}

.content .left{ 
    flex-direction: column;
    width: 800px;
    background-color: wheat;
    height: 100vh;

}
.right{
    flex-direction: column;
   
}

.content{
    display: flex;
    flex-direction: row;
    max-height: fit-content;
}
#title{
    font-style: oblique;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 40%;
}
#textarea{
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    width: 500px;
    border-radius: 6px 0px 0px 6px;
    margin-left: 20px;
    border: 2px solid #b2b2b2;
}

#mylist{
    margin: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
i{
    margin: 2px;
    font-size: 20px;
}
.btn{
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
    width: 35px;
    padding: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:bisque;
    color:#000;
    transition: rgba(0.8);
    border: 0;
}
.btn:hover{
    opacity: 0.8;
    box-shadow: 0cqw;
    background-color: floralwhite;
}
.btn:active{
    transform: scale(0.8);
}
.btn:click{
    transform:scale(1);
}
.tache{
    word-break: break-all;
    margin:5px 20px;
    background-color:bisque;
    border-color: white;
    border: 0.5px solid;
    padding: 10px 0;
    padding-left: 5px;    
    transition: rgba(1);
    transform: scale(1);
    border-radius: 6px;
    cursor: pointer;
    animation: anime 0.5s linear;
}
.tache:hover{
    background-color: darkolivegreen;
}
@keyframes anime {
    from{
        transform: translateY(20px);
    }
    
}
.tachefinie{
    word-break: break-all;
    margin: 5px 20px;
    border-radius: 6px;
    border: 0.5px solid;
    padding: 10px 0;
    padding-left: 5px;
    transition: rgba(1);
    transform: scale(1);
    cursor: pointer;
    animation: anime 0.5s linear;
    background-color: brown;
    text-decoration: line-through;
}
